.add{
    color:blue;
    margin-left: 600px;
}
.form
{
    align-items: center;
    margin-right: 90px;
   display: block;
}
.btn
{
    display: flex;
}
.contain-fluid
{
    margin-left: 600px;
}
body,html{
    background-color: antiquewhite;
}